[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
jsonschema = "*"
structlog = "*"
python-dateutil = "*"
colorama = "*"
pytz = "*"
bel = "*"
cityhash = "*"

